:root{
    --bs-primary: #1b71e8;
    --bs-darker: #051e34;
    --bs-dark: #f8f9fb;
    --bs-warning: #fe8f02;
    --bs-lightest: white;
    --bs-ticket-background: #115cc1;
}


.body{
    height: 100vh;
}

#site_header{
    background-color: var(--bs-dark);

    & .container{
        gap: 0.8rem;
        background-color: var(--bs-lightest);
    }

    .icon{
        gap: 0.8rem;

        a{
            text-decoration: none;
            color: var(--bs-darker);
        }

        .fa-bell{
            color: var(--bs-warning);
        }
    }
}

#aside{
    background-color: var(--bs-darker);
    color: var(--bs-lightest);
    height: 94vh;
    min-width: 110px;
    
    > .d-flex{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1.5rem;
    }

}

#site_main{
    background-color: #fe8f02;

    .intestation{
        background-color: var(--bs-primary);
        color: var(--bs-lightest);
        justify-content: space-between;
        padding: 0.5rem;
        width: 100%;

        .boolean{
            align-items: center;
            width: 33%;
            column-gap: 0.5rem;
        }

        .ticket{
            border-radius: 1.5rem;
            background-color: var(--bs-ticket-background);
            padding: 0.2rem;
        }

        .student{
            flex-direction: column;
        }

        .fa-plus{
            padding: 0.5rem;
            border: 0.1px solid white;
            border-radius: 0.5rem;
            color: var(--bs-lightest);
        }
    }

    .todo{
        flex-direction: column;
        width: 100%;
    }

    .card-title{
        background-color: #f8f9fb;
        border-bottom: 0.5px solid;

        + .container{

            .fa-angles-right{
                color: var(--bs-lightest);
                background-color: var(--bs-warning);
                border-radius: 50%;

            }

            .row{
                border-bottom: 0.5px solid;
            }
    
            .col-lg-2{
                text-align: center;
            }  

            .col-lg + .col-4{
                text-align: center;
            }
    
            .done{
                color: var(--bs-lightest);
                background-color: green;
                border-radius: 0.9rem;
            }

            .fa-pencil, .fa-trash{
                color: grey;
                border: 1.2px solid;
                border-radius: 0.2rem;
                font-size: 1.3rem;
            }

            .process{
                color: var(--bs-lightest);
                background-color: var(--bs-warning);
                border-radius: 0.9rem;
            }

            .failed{
                color: var(--bs-lightest);
                background-color: red;
                border-radius: 0.9rem;
            }

        }

    }
}


@media screen and (min-width: 575px) {
        .col{
            display: none;
        }

}

@media screen and (min-width: 991px) {
    .col{
        display: block;
    }

}