:root{
    --bs-primary: #1b71e8;
    --bs-darker: #051e34;
    --bs-dark: #f8f9fb;
    --bs-warning: #fe8f02;
    --bs-lightest: white;
    --bs-ticket-background: #115cc1;
}


.body{
    height: 100vh;
    overflow: auto;
}

#site_header{
    background-color: var(--bs-dark);
    height: 60px;
    z-index: 100;

    .fa-bell{
        color: var(--bs-warning);
    }

    .container-fluid{
        gap: 0.9rem;
        background-color: var(--bs-lightest);
        justify-content: space-between;

        > .d-flex{
            width: 74%;
            flex-wrap: nowrap;
        }


        .navbar-collapse{
            flex-grow: 0;
        }
    }

    .icon{
        gap: 0.8rem;
        align-items: center;

        a{
            text-decoration: none;
            color: var(--bs-darker);
        }

    }
}

.wrapper{
    height: calc(100% - 60px);
}

#aside{
    background-color: var(--bs-darker);
    color: var(--bs-lightest);
    flex-direction: column;
    justify-content: space-between;
    width: 140px;

    .top-aside{
        width: 100%;
        flex-direction: column;
        align-items: center;
        
        .d-flex{
            transition: background-color 200ms;
            gap: 0.5rem;
            align-items: center;
        }
    
        .d-flex:hover{
                background-color: grey;
        }
    }

    .bottom-aside{
        transition: background-color 200ms;
        align-items: center;
        gap: 0.5rem;
    }

    .bottom-aside:hover{
        background-color: grey;
    }

}

#site_main{
    background-color: #f8f9fb;

    .intestation{
        background-color: var(--bs-primary);
        color: var(--bs-lightest);
        justify-content: space-between;
        padding: 0.5rem;
        width: 100%;
        flex-direction: column;

        .boolean{
            align-items: center;
            width: 33%;
            column-gap: 0.5rem;
        }

        .ticket{
            border-radius: 1.5rem;
            background-color: var(--bs-ticket-background);
            padding: 0.2rem;
        }

        .boolean span:nth-child(5), .boolean span:nth-child(6), .boolean span:nth-child(7){
            display: none;
        }

        .student{
            flex-direction: column;
        }

        .fa-plus{
            padding: 0.5rem;
            border: 0.1px solid white;
            border-radius: 0.5rem;
            color: var(--bs-lightest);
        }

        .new-student{
            order: -1;
        }
    }

    .todo{
        flex-direction: column;
        width: 100%;
        overflow-y: auto;

    }

    .card-body{
        padding-bottom: 1rem;
    }


    .card-title{
        background-color: #f8f9fb;
        border-bottom: 0.5px solid lightgray;

        + .container{

            .fa-angles-right{
                color: var(--bs-lightest);
                background-color: var(--bs-warning);
                border-radius: 50%;

            }

            .row{
                border-bottom: 0.5px solid lightgray;
                align-items: center;
            }
    
            .col-lg-2{
                text-align: center;
            }  

            .col-lg + .col-4{
                text-align: center;
            }
    
            .done{
                color: var(--bs-lightest);
                background-color: green;
                border-radius: 0.9rem;
                max-width: 4rem;
                margin: auto;
            }

            .fa-pencil, .fa-trash{
                color: grey;
                border: 1.2px solid lightgray;
                border-radius: 0.2rem;
                font-size: 1.3rem;
            }

            .process{
                color: var(--bs-lightest);
                background-color: var(--bs-warning);
                border-radius: 0.9rem;
            }

            .failed{
                color: var(--bs-lightest);
                background-color: red;
                border-radius: 0.9rem;
            }

        }

    }
}

.card_container{
    border: 0.1px solid lightgray;
    border-radius: 0.5rem;
    
    .check:not(:last-of-type){
        border-bottom: 0.1px solid lightgray;
    }
}


@media screen and (min-width: 575px) {
        .col{
            display: none;
        }

        .navbar-brand:nth-child(2){
            display: none;
        }

}

@media screen and (min-width: 991px) {
    .col{
        display: block;
    }

    .navbar-brand:nth-child(1){
        display: none;
    }

    .navbar-brand:nth-child(2){
        display: block;
    }

    #site_header .container-fluid{
        > .d-flex {
            width: 90%;
        }
    }
 
    


    #site_main{

        #aside{
            min-width: 140px;
        }

        #aside .d-flex{

            gap: 0.9rem;
            span{
                display: block;
            }
    
        }
        .intestation{
            flex-direction: row;

            .boolean span:nth-child(5), .boolean span:nth-child(6), .boolean span:nth-child(7){
                display: block;
            }

            .new-student{
                order: 3;
            }
        }

        .offcanvas-end{
            max-width: 50%;
        }
    }
    
}