:root{
    --bs-primary: #1b71e8;
    --bs-dark: #051e34;
    --bs-warning: #fe8f02;
    --bs-lightest: white;
    --bs-ticket-background: #115cc1;
}


.body{
    height: 100vh;
}

#site_header{
    background-color: #f8f9fb;

    & .container{
        gap: 0.8rem;
        background-color: var(--bs-lightest);
    }

    .form-control{
    }

    .icon{
        gap: 0.8rem;
    }
}

#aside{
    background-color: var(--bs-dark);
    color: var(--bs-lightest);
    height: 94vh;
    width: 150px;
    
    > .d-flex{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1.5rem;
    }

}

#site_main{
    background-color: #fe8f02;

    .intestation{
        background-color: var(--bs-primary);
        color: var(--bs-lightest);
        justify-content: space-between;
        padding: 0.5rem;
        height: 150px;
        width: 100%;

        .ticket{
            border-radius: 1.5rem;
            background-color: var(--bs-ticket-background);
            padding: 0.2rem;
        }

        .student{
            flex-direction: column;
        }

        .fa-plus{
            padding: 0.5rem;
            border: 0.1px solid white;
            border-radius: 0.5rem;
            color: var(--bs-lightest);
        }
    }

    .todo{
        flex-direction: column;
        width: 100%;

        #abc{
            height: 1000px;
        }
    }


}